body {
  font-family: 'Roboto Slab', serif;
  display: flex;
  min-height: 110vh;
  flex-direction: column;
  background-size: cover;
  background:
  linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://source.unsplash.com/collection/898543/daily");
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

h6 {
  font-size: 130%;
  color: white;
  text-shadow: 2px 2px #000000;
}

a {
  color: #cecece;
  text-shadow: 2px 2px #000000;
}

a:hover {
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white
}

span {
  margin: 0 2px;
}

span:first-of-type {
  margin-left: 0;
}

span:last-of-type {
  margin-right: 0;
}