html,
body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    background-color: #191d21;
}

body {
    /* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://source.unsplash.com/collection/898543/daily") !important; */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#now-playing-text-col {
    padding-top: 20px;
    padding-left: 20px;
}

#now-playing-cover-art {
    height: 100%;
    width: fit-content;
}

#feed-card {
    margin-top: 0px;
}

.feed-col {
    padding-right: 15px;
    padding-left: 15px;
}

.semi-bold {
    font-weight: 600;
}

.medium-bold {
    font-weight: 500;
}

a {
    color: #ffffff !important;
}

.accent {
    color: var(--accent-color);
    text-shadow: 1px 1px #000000;
    transition: color 300ms linear;
}

#navbar-full-width {
    width: 100%;
}

#navbar {
    background-color: black;
    transition: background-color 300ms linear;
}

.accent-inverted {
    color: var(--inverted-accent-color) !important;
    transition: color 300ms linear;
}
